td,
th {
  text-align: left;
  padding: 4px 8px;
  box-sizing: border-box;
}

tbody {
  tr:nth-child(odd) td {
    background: rgba(245, 245, 245, 0.3);
  }
}

.amountCol {
  text-align: right;
}

.categoryCol {
  white-space: nowrap;
}

.descriptionCol {
  .description {
    color: #696969;
    font-size: 12px;
  }
}

.checkBox {
  min-width: unset;
  width: 50px;

  input[type="checkbox"] {
    display: none;
  }

  label {
    display: block;
    border: 4px solid yellow;
    background: transparent;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    transition: 0.05s linear border;
  }

  input:checked + label {
    border-width: 2px;
    background: red;
  }
}
