@import "global.module.scss";

.amountCol {
  text-align: right;
}

.categoryCol {
  white-space: nowrap;
}

.descriptionCol {
  .description {
    color: $black;
    font-size: 12px;
  }
}

.checkBox {
  width: 50px;

  @extend %checkboxLabel;
}
