.calendar {
  display: grid;
  grid-template-areas:
    "... title"
    "categories grid";
  padding: 0 10px 50px;
  background: rgba(245, 245, 245, 0.75);
}

.monthName {
  grid-area: title;
}

.monthGrid {
  grid-area: grid;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 20px repeat(6, 70px);
  grid-gap: 10px;
  padding: 0 10px;

  .dow {
    text-align: center;
  }

  .day {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    padding: 10px;
    border-radius: 5px;
    color: #444;
    height: 70px;
    box-sizing: border-box;

    &.today {
      background: pink;
    }

    &.futureDay {
      background: darkgray;
      color: gray;
    }
  }
}

.date {
  top: 0;
  left: 0;
  font-size: 45px;
}

.total,
.count {
  font-size: 14px;
}
