@import "global.module.scss";
$gap: 10px;

.calendarGrid {
  display: grid;
  grid-template-areas:
    "... title ..."
    "categories grid day";
  padding: 0 10px 50px;
  background: $white;
  grid-gap: $gap;
}

.monthName {
  grid-area: title;
  margin: 15px 0 15px 40px;
  h1 {
    margin: 3px 0;
  }
}

.monthGrid {
  grid-area: grid;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(7, 110px);
  grid-template-rows: 20px repeat(6, 70px);
  grid-gap: $gap;

  .dow {
    text-align: center;
  }

  .day {
    position: relative;
    display: flex;
    flex-direction: column;
    background: $white;
    padding: 3px;
    border-radius: 10px;
    color: $black;
    height: 70px;
    box-sizing: border-box;
    border: 3px solid $black;

    .date {
      top: 0;
      left: 5px;
      position: absolute;
      font-size: 50px;
      color: rgb(230, 230, 230);
    }

    .dateInfo {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-weight: bold;
    }

    .total,
    .count {
      font-size: 16px;
      text-align: right;
    }

    .count {
      font-size: 12px;
    }

    &.today {
      background: pink;
    }

    &.selectedDay {
      background: rgb(208, 255, 208);
    }

    &.futureDay {
      background: darkgray;
      color: gray;
    }
  }
}

.dayGrid {
  grid-area: day;
  height: 550px;
  width: 300px;
  font-size: 12px;
  overflow: scroll;
}

.dayDescription {
  display: flex;
  justify-content: space-between;

  span:last-child {
    text-align: right;
    width: 75px;
  }
}
