$gap: 10px;

.calendar {
  display: grid;
  grid-template-areas:
    "... title ..."
    "categories grid day";
  padding: 0 10px 50px;
  background: rgba(245, 245, 245, 0.75);
  grid-gap: $gap;
}

.monthName {
  grid-area: title;
  margin: 15px 0 15px 40px;
  h1 {
    margin: 3px 0;
  }
}

.monthGrid {
  grid-area: grid;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: 20px repeat(6, 70px);
  grid-gap: $gap;

  .dow {
    text-align: center;
  }

  .day {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    padding: $gap;
    border-radius: 5px;
    color: #444;
    height: 70px;
    box-sizing: border-box;

    &.today {
      background: pink;
    }

    &.futureDay {
      background: darkgray;
      color: gray;
    }
  }
}

.dayGrid {
  grid-area: day;
  height: 100px;
  width: 300px;
  font-size: 12px;
}

.date {
  top: 0;
  left: 0;
  font-size: 30px;
}

.total,
.count {
  font-size: 14px;
}
