@import "global.module.scss";

.categoryTransactions {
  display: flex;
  justify-content: space-around;

  .graph {
    max-width: 1000px;
    flex: 1;
  }

  table {
    border-spacing: 0;
    font-size: 14px;
    width: 100%;

    th {
      text-align: right;

      &:nth-child(2) {
        text-align: left;
      }
    }

    td,
    th {
      height: 25px;
      @extend %checkboxLabel;
    }
  }
}

.monthName {
  font-weight: bold;
}

.amountCol {
  text-align: right;
  font-size: 14px;
  width: 95px;
}

.totalCol {
  text-align: right;
  font-weight: bold;
}

.categoryCol {
  text-align: left;
}
