@import "global.module.scss";

.categoryTransactions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;

  .graph {
    max-width: 100%;
    flex: 1;
  }

  .table {
    width: 100%;
    overflow-x: scroll;
  }

  table {
    border-spacing: 0;
    font-size: 14px;
    width: 100%;

    th {
      text-align: right;

      &:nth-child(2) {
        text-align: left;
      }
    }

    .categoryColumn {
      position: sticky;
      left: 0;
    }

    td,
    th {
      height: 25px;
      padding: 0 10px;
      font-size: 12px;

      input[type="checkbox"] {
        display: none;
      }

      label {
        display: block;
        padding: 5px;
        transition: 0.1s linear background;
        cursor: pointer;
      }

      &:nth-child(even) {
        background: $accentRowBlue;
      }
    }
  }
}

.monthName {
  font-weight: bold;
}

.amountCol {
  text-align: right;
  font-size: 14px;
  width: 95px;
}

.totalCol {
  text-align: right;
  font-weight: bold;
}

.categoryCol {
  text-align: left;
}

.searchInput {
  margin-bottom: 25px;
  text-align: center;

  input {
    height: 60px;
    width: calc(100% - 100px);
    padding: 6px 10px;
    box-sizing: border-box;
    font-size: 42px;
  }
}
