.transactionsList {
  font-size: 14px;
  width: 100%;
}

.transactionTable {
  margin-top: 10px;
  border-spacing: 0;
  width: 100%;
}

.searchImport {
  display: flex;
}

.columnAmount {
  text-align: right;
}
