.transactionsList {
  font-size: 14px;
  width: 100%;
}

.transactionTable {
  margin-top: 10px;
  border-spacing: 0;
  width: 100%;
}

.pageInfo {
  display: flex;
}

.columnAmount {
  text-align: right;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(124, 240, 255);
  margin-right: 10px;
  padding: 10px;
}

.search {
  padding-top: 10px;
}
