@import "../../global.module.scss";

.searchContainer {
  display: flex;
  flex-direction: column;
  background-color: $accentBlue;
  padding: 10px;
}

.searchHistory {
  li {
    justify-content: space-between;
  }
}

.search {
  padding-top: 10px;

  .input {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
  }
}

.importerContainer {
  display: flex;
  flex-direction: column;
  background-color: $accentBlue;
  margin-right: 10px;
  padding: 10px;
}

.totalsTable {
  width: 100%;
  border-spacing: 0;

  .totalLabel {
    font-weight: 800;
  }

  $cellWidth: 75px;

  th,
  td {
    min-width: $cellWidth;
    padding: 2px 4px;
    text-align: right;

    &.removeBtn {
      width: 25px;
    }

    &.name {
      width: $cellWidth;
      text-align: left;
    }
    &.sum {
      width: $cellWidth;
    }
    &.count {
      width: $cellWidth;
      text-align: center;
    }
    &.average {
      width: $cellWidth;
    }
  }
}
