@import "global.module.scss";

.years {
  @extend %selector;
}

.months {
  @extend %selector;
  background: $yearColor;

  .itemContainer {
    color: $white;
  }

  .active {
    background: $monthColor;
  }
}
