.calendar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 50px;
  background: #ff9f9f;
}

.monthGrid {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  grid-gap: 20px;

  .dow {
    text-align: center;
  }

  .day {
    background: white;
    padding: 10px;
    border-radius: 5px;
  }
}
