@import "global.module.scss";

%selector {
  display: flex;
  background: white;

  .itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 10px 0;
  }

  .active {
    background: $yearColor;
  }

  .noData {
    background: lightgray;
  }
}

.years {
  @extend %selector;
}

.months {
  @extend %selector;
  background: $yearColor;

  .active {
    background: $monthColor;
  }
}
