.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.greeting {
  h1 {
    margin: 0;
    padding: 0;
  }
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  flex: 1;

  a {
    padding: 5px;
    color: black;
  }

  .active {
    background: lightcyan;
    font-weight: bold;
    border-radius: 2px;
  }
}

.logout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
