.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.greeting {
  h1 {
    margin: 0;
    padding: 0;
  }
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  flex: 1;
}
