ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  margin: 0;
  padding: 15px 0;
}

.fileInput {
  background: lightblue;
}

.category-transactions {
  display: flex;
}

.month-data {
  padding: 0 10px;
}
