@import "global.module.scss";

.categories {
  position: absolute;
  right: 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  font-size: 14px;
  width: 275px;
}

ul li {
  display: flex;
  padding: 3px 0;
  .name {
    flex: 1;
  }
  .sum,
  .average {
    width: 80px;
    text-align: right;
  }

  &.categoryTotal {
    font-weight: bold;
  }
}
