.categories {
  grid-area: categories;
  font-size: 14px;
  width: 275px;
}

ul li {
  display: flex;
  padding: 3px 0;
  .name {
    flex: 1;
  }
  .sum,
  .average {
    width: 80px;
    text-align: right;
  }

  &.categoryTotal {
    font-weight: bold;
  }
}
