$yearColor: #ffe1e1;
$monthColor: #ff9f9f;
$blue: #ccf1fc;
$accentBlue: rgb(124, 240, 255);

p {
  margin: 0;
}

%selector {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: white;

  .itemContainer {
    flex: 1;
    color: black;
    text-decoration: none;
  }

  .active {
    background: $yearColor;
  }

  .singleItem {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
  }

  .noData {
    background: lightgray;
  }
}
