$yearColor: #7a7a7a;
$monthColor: #000000;
$white: #ffffff;
$blue: #f0fbff;
$accentBlue: rgb(207, 207, 207);
$accentRowBlue: #f5f5f5;
$loginBtn: #1abc9c;
$black: #000000;

$footer-height: 100px;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footer-height;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

tbody {
  tr:nth-child(odd) td {
    background: $accentRowBlue;
  }
}

%selector {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: $white;

  .itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: black;
    text-decoration: none;
    padding: 10px 0;
  }

  .active {
    background: $yearColor;
    color: $white;
  }

  .singleItem {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
  }

  .noData {
    background: lightgray;
  }
}

%checkboxLabel {
  input[type="checkbox"] {
    display: none;
  }

  label {
    display: block;
    border: 1px solid $black;
    background: transparent;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    transition: 0.1s linear background;
    cursor: pointer;

    &:hover {
      background: $accentBlue;
    }
  }

  input:checked + label {
    background: red;
  }
}
